@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: 'jedi';
    src: url('/src/assets/fonts/Starjedi.ttf') format('ttf');
  }
  @font-face {
    font-family: 'galactic';
    src: url('/src/assets/fonts/galbasic.ttf') format('ttf');
  }
}
